.box {
  width: 400px;
  padding: 8px;
  margin: 0 auto;
  background-color: lawngreen;
  border-radius: 10px;
  color: rgb(0, 95, 0);
}
.sigup,
.signin {
  text-align: center;
}
.signup-btn,
.signin-btn {
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.837);
  color: white;
  &:hover {
    cursor: pointer;
  }
}
.signin-btn {
  background-color: coral;
}
.card {
  width: 400px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(255, 127, 80, 0.563);
  color: rgb(122, 59, 36);
}
